*:not(span) {
    font-family: Tahoma;
    font-size: 85%;
}
body {
    background-color: white !important;
}
h1 {
    font-size: 2.0em !important;
}
h2 {
    font-size: 1.6em !important;
}
h3 {
    font-size: 1.4em !important;
}
